body {
    font-family: monospace,"Times New Roman";
    background-color: antiquewhite;
    font-size: large;

}

#tabledata{
    font-family: monospace;
    font-size: medium;
    text-align: left;


}

.titles{
    text-decoration: overline;
    color: #000000;
}
button:hover {
    color: rgba(255, 0, 67, 0.25);
}
#table{
    background-color: antiquewhite;
    height: 300px;

}

.header{
    border: 5px double black;
    color: antiquewhite;
    background-image: url("../img/goodburger.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    height: auto;
    min-height: 290px !important;
    width: auto;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.burgerdisplay{
    border: 5px double black;
    height: auto;

}
input[type *="radio"]{
    text-align: left;

}
.deliveryinformation{
    margin: 0;
    padding: 0;
    display:grid;
    grid-gap: initial;
    grid-template-areas:
            ". c . d . ."
            ". c . d . ."
}
.dinfo{
    float: left;
    text-align: center;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.tablewrapper{
    margin: 0;
    padding: 0;
    display:grid;
    grid-gap: inherit;
    grid-template-areas:
    ". . a b c ."
    ". . a b c ."
}
.box{
    float: left;
    text-align: left;
}

.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}


label {
    display: compact;
    margin-bottom: 5px;
    vertical-align: top;
}